.form-example {
    display: grid;
    grid-column-end: span 5;
    grid-template-columns: minmax(0px, 1fr);
    width: 17em;
  }
  label.myntra {
    display: table-cell;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 10px;
  }
  input#data0 {
    display: table-cell;
    margin-bottom: 10px;
    padding: 5px;
  }
  select#dataB {
    padding: 5px;
  }
  button.form-example23 {
    display: grid;
    grid-column-end: span 7;
    /* grid-column-start: span 6; */
    grid-row-start: span 3;
    /* grid-column-start: span 6; */
    grid-template-columns: minmax(0px, 1fr);
    align-items: start;
    justify-items: center;
    align-content: center;
    cursor: pointer;
    font-weight: 700;
    /* min-width: 44px; */
    width: 10em;
    color: #0028ff;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    font-family: revert;
    font-size: revert;
    line-height: revert;
}

  input#\30 011 {
    display: table-cell;
    margin-bottom: 10px;
    padding: 5px;
    /* margin-right: 11px; */
    border: revert;
    font-family: revert;
    font-size: revert;
    line-height: revert;
}
  button#ksi {
    font-size: 24px;
    min-width: 196px;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  span#text {
    background-color: rgb(5, 6, 45);
    padding: 1px 0px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  button#ksi:hover {
    outline: 0;
  }
  span#text:hover {
    background: none;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-left: 2px;
  }
select#dataB {
  padding: 5px;
  font-size: revert;
}
label.myntra {
  display: table-cell;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 10px;
  /* size: 26px; */
  font-weight: 500;
}